<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rcpdroid.maps" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.apache.org/apk/res/android">
    <name>RcpMaps</name>
    <description>RcpMaps Global Fake GPS Application</description>
    <author email="dev@rcpdroid.com" href="https://github.com/rcpmaps-cordova">rcpdroid Amos</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform android="android">
        <preference name="AndroidXEnabled" value="true" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" xmlns:tools="http://schemas.apache.org/tools" tools:ignore="MockLocation" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="android.security.mock_location" android:value="true" />
        </config-file>
    </platform>

    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
</widget>
